 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/Frame2.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1021px;
}

.u-section-1 .u-text-1 {
  font-family: TTFirsNeue-Bold;
  margin: 315px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: TTFirsNeue-Regular;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  --radius: 15px;
  font-family: TTFirsNeue-Bold;
  font-weight: 700;
  margin: 20px auto 60px 0;
  padding: 14px 24px 14px 23px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.25em;
  vertical-align: -1px;
  margin-left: 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 306px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 269px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 200px;
  }
}@font-face {
  font-family: 'TTFirsNeue-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TTFirsNeue-Bold.woff);
}@font-face {
  font-family: 'TTFirsNeue-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TTFirsNeue-Regular.woff);
}