 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 880px;
}

.u-section-1 .u-text-1 {
  font-family: TTFirsNeue-Bold;
  margin: 400px auto 0;
}@font-face {
  font-family: 'TTFirsNeue-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TTFirsNeue-Bold.woff);
}@font-face {
  font-family: 'TTFirsNeue-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TTFirsNeue-Regular.woff);
}